

$primary-color: #303030;
$primary-light: #8A8A8A;
$primary-light2: #C1C1C1;
$secondary-color: #000000;
$accent-color: #000000;
$light-text: #DCDCDC;
$accent-text: #707070;
$dark-text: #303030;

$font-xxxsmall: 0.8em;
$font-xxsmall: 1.0rem;
$font-xsmall: 1.2rem;
$font-small: 1.4rem;
$font-normal: 1.6rem;
$font-large: 1.8rem;
$font-xlarge: 2.0rem;
$font-xxlarge: 2.2rem;
$font-xxxlarge: 2.4rem;



@mixin flex-column {
    display: flex;
    flex-direction: column;
}
@mixin flex-column-tight {
    @include flex-column;
    width: min-content;
    
}

@mixin flex-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-center-column {
    @include flex-center;
    flex-direction: column;
}

@mixin flex-center-vert {
    display: flex;
    align-items: center;
}

@mixin flex-center-horiz {
    display: flex;
    justify-content: center;
}





// .App {
//     text-align: center;

// }

main {
    display: flex;
    min-height: 60vh;

}

// .link-group {
//     color: blue;
//     // display: flex;
//     // flex-direction: column;
// }



.App-header {
    margin: 0;
    
    background-color: $primary-color;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: $light-text;
}


.App-link {
    color: $light-text;

}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;

}

.footer-company {
    width: 5vw;
    @include flex-center-column;
    font-size: $font-small;
    // display: flex;
    // flex-flow: column;
    // align-items: center;
}



// a {
//     :link {
//         text-decoration: none;
//         background-color: red;
//     }

//     :visited {
//         text-decoration: none;
//     }

//     :hover {
//         text-decoration: none;
//         text-decoration: underline;
//     }

//     :active {
//         text-decoration: none;
//         text-decoration: underline;
//         color: orange;
//     }

// }

.nav-link {
    text-decoration: none;
    @include flex-column-tight;
    // display: flex;
    // width: min-content;
    // flex-flow: column wrap;
    // background-color: white;
    color: $accent-text;

    &:hover {
        color: $light-text;
        // text-decoration: underline;
    }
}


footer {
    font-size: $font-normal;
    padding-top: 3%;
    // padding-left: 5%;
    border-top: $accent-text;
    // border-bottom: none;
    border-style: solid;
    border-width: 1px;
    // background-color: blue;
    width: 100%;
    display: flex;
    // flex-flow: row wrap;
    border-bottom: none;
    border-left: none;
    border-right: none;
    justify-content: space-around;
}

address {
    text-decoration: none;
    font-size: $font-xsmall;
    // background-color: orange;
    @include flex-column-tight;
    a {
        text-decoration: none;
        
        color: $accent-text
    }
}




.X-Small {
    font-size: $font-xsmall;
}